.navbar {
  background: linear-gradient(90deg, #4e73df, #36b9cc);
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

.menu-link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  padding: 6px 12px;
  border-radius: 8px;
}

.menu-link:hover {
  background: rgba(255, 255, 255, 0.2);
}

.active {
  background: rgba(255, 255, 255, 0.25);
}

.material-icons {
  font-size: 18px;
}
